<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>languageLocalized</key>
		<string>Español</string>
		<key>conditionName</key>
		<string>Sickle Cell Anemia</string>
		<key>menuTitles</key>
		<array>
			<string>startPresentation</string>
			<string>continue</string>
			<string>jumpQuiz</string>
			<string>reviewFlags</string>
		</array>
		<key>menuLocalized</key>
		<array>
			<string>Toque para Empiece presentación</string>
			<string>Continuar desde la última diapositiva</string>
			<string>Ir al Cuestionario</string>
			<string>Verifique las banderas</string>
		</array>
	</dict>
	<key>slides</key>
	<array>
		<dict>
			<key>slide</key>
			<string>intro</string>
			<key>welcome</key>
			<string>En las diapositivas siguientes, usted aprenderá más sobre la anemia falciforme y la forma de mantener mejor que en casa.</string>
			<key>imgGesture</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_01.png</string>
			<key>text</key>
			<string>Esta es Julie . Julie tiene siete años y vive en Nueva York, cerca del East River con su familia y su perro Murphy. Julie tiene un hermano pequeño , un padre y una madre , y una estantería con todos sus libros favoritos. Julie le encanta ver los barcos en el río con Murphy, y jugar al baloncesto con sus amigos.
</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_02.png</string>
			<key>text</key>
			<string>Julie es como la mayoría de los niños , pero hay algunas cosas que la hacen sentir diferente. Julie tiene una marca de nacimiento que se parece a una mariposa, ella piensa que los plátanos son totalmente asqueroso , y ella tiene enfermedad de células falciformes .</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_03.png</string>
			<key>text</key>
			<string>Tener la enfermedad de células falciformes es lo que hace que Julie se siente muy diferente de sus amigos. Al principio , trató de esconderse de todo el mundo , pero un día , su madre dijo: &quot; Julie , todo el mundo tiene algo que les hace sentir diferente. ¿Recuerdas el invierno pasado, cuando hicimos el 100 - pieza de rompecabezas ? Cada pieza se forma de manera diferente , pero cada pieza tenía hermosos colores , y cuando estaban todos juntos , hicieron una imagen brillante y encantador. Así es como la gente es demasiado , todo el mundo tiene una forma un poco diferente , pero todos estamos hechos de colores vivos y podemos trabajar juntos para hacer del mundo un lugar hermoso &quot; .</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_04.png</string>
			<key>text</key>
			<string>Julie sintió un poco mejor después de hablar con su madre , y ella decidió contarle a sus dos mejores amigos , Anna y Alex , sobre su enfermedad de células falciformes. Julie les habló de que sólo la forma en que su médico le había explicado a ella:</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_05.png</string>
			<key>text</key>
			<string>Cada cuerpo tiene sangre en su cuerpo que se compone de células diferentes que llevan alrededor de oxígeno y otras cosas importantes que el cuerpo necesita . Julie explicó que las células rojas de la sangre suelen ser redondos y lisos , y mirar un poco como un disco volador. En el cuerpo de Julie , sin embargo, algunos de sus glóbulos rojos son &quot; hoz &quot;, lo que significa que su semejanza con la letra &quot; C &quot; y son rígidos y puntiagudos .</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_06.png</string>
			<key>text</key>
			<string>La sangre viaja a través del cuerpo a través de unos conductos llamados vasos sanguíneos. Julie explica a sus amigos que los vasos sanguíneos son los caminos y las células rojas de la sangre son los coches que circulan por las carreteras .</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_07.png</string>
			<key>text</key>
			<string>Julie explica que se hacen los vasos sanguíneos para ajustarse a las células lisas de color rojo sangre y que en un día normal de las células rojas de la sangre son capaces de viajar sin chocar con los atascos de tráfico. Ella explica que a veces sus eritrocitos falciformes pueden quedar atrapados entre sí y causar una obstrucción o atasco de tráfico en sus vasos sanguíneos.</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_08.png</string>
			<key>text</key>
			<string>Cuando esto sucede dentro de su cuerpo , Julie le dijo a sus amigos que se llama una &quot;crisis &quot;, y me duele mucho . Julie dijo que para ella le duele más que cuando se apagó la punta del pie en la bañera y más cuando se raspó las rodillas caigan los columpios.</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_09.png</string>
			<key>text</key>
			<string>Para detener el terrible daño, Julie explica que su mamá le da la medicina y la gran cantidad de agua para beber en casa. Julie le dice a sus amigos que ella sólo va al hospital si los medicamentos en el país no funcionan o que lo hacen de una fiebre de más de 101 ○ F y su cuerpo se siente caliente.</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_10.png</string>
			<key>text</key>
			<string>El hospital puede ser muy atemorizante , pero Julie dice que ayuda a tener a su mamá y oso de peluche preferido de ella. Julie no le gusta estar en el hospital, pero su médico , Katie , es muy agradable y amable . Julie consigue una medicina fuerte para detener su cuerpo se haga daño a través de una vía intravenosa ( un pequeño tubo en el brazo ) para líquidos , medicamentos, y, a veces , por una transfusión de sangre .</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_11.png</string>
			<key>text</key>
			<string>Julie veces tiene que recibir transfusiones de sangre. Para Julie , las transfusiones de sangre son una manera de tratar de detener la crisis ocurra. Un montón de personas en todo el mundo donan sangre , lleno de glóbulos redondos de Julie y muchos otros enfermos . Esta sangre se le da a Julie a través de su línea de IV , y cuando está dentro de su cuerpo , se mezcla con la sangre de Julie . Luego están las células sanguíneas más redondos que pueden moverse con facilidad por el cuerpo de Julie .</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_12.png</string>
			<key>text</key>
			<string>Anna y Alex escucharon atentamente a Julie - que es difícil de entender exactamente lo que se siente tener la enfermedad de células falciformes, pero saben que lo más importante que pueden hacer por Julie es ser su amigo, y su ayuda cuando ella está en dolor . Pueden hacer mamá o el papá de Julie , si tienen más preguntas sobre cómo ayudar , y pueden hablar con sus padres o un adulto que confían sobre cualquier pregunta o pensamientos que tienen. Anna y Alex sabe que no hay manera de coger la enfermedad de células falciformes de Julie- que no es como un resfriado o la gripe o la varicela .</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_13.png</string>
			<key>text</key>
			<string>Es difícil para la familia de Julie y - su mamá y papá odian ver Julie daño, y su pequeño hermano Mike no entiende lo que está pasando cuando Julie está dañando o se va al hospital.</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_14.png</string>
			<key>text</key>
			<string>El mes pasado, Julie tuvo una crisis - por la mañana, le dolía el estómago , por lo que su mamá le dio un montón de agua con un chorrito de jugo en ella para beber. Beber mucha agua y otros líquidos saludables es una manera de tratar de detener la crisis ocurra. No funcionó esta vez , sin embargo, y el dolor empeoró , por lo que la madre de Julie la llevó a la sala de emergencias .</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_15.png</string>
			<key>text</key>
			<string>Los médicos pusieron en una línea IV , y dieron Julie medicina y más líquidos. Después de unos días , se sintió mejor y pudo volver a casa.</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>sickle_16.png</string>
			<key>text</key>
			<string>Tener la enfermedad de células falciformes no es fácil, pero Julie sabe que tiene mucho amor y apoyo de su familia y amigos, y su médico Katie dice que este es el tratamiento más importante para cualquier paciente!</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>quiz</string>
			<key>question</key>
			<string>Healthy red blood cells are shaped like:</string>
			<key>answers</key>
			<array>
				<string>A round, smooth circle</string>
				<string>A star</string>
				<string>A rectangle</string>
				<string>A “C” shape</string>
			</array>
			<key>solution</key>
			<integer>0</integer>
			<key>explanation</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
			<key>slideRef</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>slide</key>
			<string>quiz</string>
			<key>question</key>
			<string>Sickled red blood cells are shaped like:</string>
			<key>answers</key>
			<array>
				<string>A round, smooth circle</string>
				<string>A “C” shape</string>
				<string>A triangle</string>
				<string>A “T” shape</string>
			</array>
			<key>solution</key>
			<integer>1</integer>
			<key>explanation</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
			<key>slideRef</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>slide</key>
			<string>quiz</string>
			<key>question</key>
			<string>If your child has sickle cell disease, and has a fever, what should you do?</string>
			<key>answers</key>
			<array>
				<string>Give them Motrin and put them to bed</string>
				<string>Make them drink plenty of fluids and watch TV quietly on the couch</string>
				<string>Exercise</string>
				<string>Give them plenty of water to drink and bring them to the Emergency Department

immediately</string>
			</array>
			<key>solution</key>
			<integer>3</integer>
			<key>explanation</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
			<key>slideRef</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>slide</key>
			<string>quiz</string>
			<key>question</key>
			<string>In the hospital, your child might need to get an IV line. An IV line is:</string>
			<key>answers</key>
			<array>
				<string>A tiny tube, placed in a vein, to give your child fluids and medicine</string>
				<string>A shot</string>
				<string>A blood test</string>
				<string>A green plant</string>
			</array>
			<key>solution</key>
			<integer>0</integer>
			<key>explanation</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
			<key>slideRef</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>slide</key>
			<string>quiz</string>
			<key>question</key>
			<string>Is it possible for someone to catch sickle cell disease, like someone would catch a cold?</string>
			<key>answers</key>
			<array>
				<string>Yes</string>
				<string>No</string>
			</array>
			<key>solution</key>
			<integer>1</integer>
			<key>explanation</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
			<key>slideRef</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>slide</key>
			<string>outro</string>
			<key>image</key>
			<string></string>
			<key>text</key>
			<string>Esto completa esta presentación sobre la anemia de células falciformes! Usted puede ir revisar las diapositivas que tenía problemas con o hablar con el médico cuando esté listo.</string>
			<key>title</key>
			<string></string>
			<key>flagSet</key>
			<false/>
		</dict>
	</array>
	<key>definitions</key>
	<array>
		<dict>
			<key>toDefine</key>
			<string>Sickle Cell Disease</string>
			<key>text</key>
			<string>abbreviated as SCD; is a group of inherited disorders of the blood, characterized by the sickle, or crescent, shape of some blood cells in affected people. People with SCD have red blood cells that become hard and sticky and look like a C-shaped farm tool called a “sickle”. The sickle cells die early, which causing a constant shortage of red blood cells, anemia. Also, when sickled cells travel through small blood vessels, they get stuck and clog the blood flow. This can cause pain and other serious problems such infection, acute chest syndrome and stroke. Ask your health care professional for more information about SCD and where you can get support.</string>
			<key>image</key>
			<string></string>
			<key>links</key>
			<array/>
		</dict>
		<dict>
			<key>toDefine</key>
			<string>Blood Transfusion</string>
			<key>text</key>
			<string>Blood transfusions are a procedure in which blood is given to a person in need through and intravenous (IV) line. Transfusions are given to people with sickle cell disease when their body’s blood supply is in need of support due to illness or having a high sickle cell count.  </string>
			<key>image</key>
			<string></string>
			<key>links</key>
			<array/>
		</dict>
		<dict>
			<key>toDefine</key>
			<string>Acute Chest Syndrome (ACS)</string>
			<key>text</key>
			<string>People with SCD can experience a blockage of blood flow to the lungs that causes Acute Chest Syndrome. ACS is similar to pneumonia and can be life threatening so it should be treated in a hospital. Symptoms of ACS include chest pain, coughing, difficulty breathing, and fever.  </string>
			<key>image</key>
			<string></string>
			<key>links</key>
			<array/>
		</dict>
		<dict>
			<key>toDefine</key>
			<string>Stroke</string>
			<key>text</key>
			<string>Sickle Cells can create blockages anywhere in the body. When they block blood flow to the brain they can cause what is known as a Stroke. A stroke can result in life long disabilities or even death and should be treated in a hospital as soon as possible. Signs of a stroke can be slurred speech, numbness or weakness on one side of the body or face, headache and trouble with coordination or vision. </string>
			<key>image</key>
			<string></string>
			<key>links</key>
			<array/>
		</dict>
		<dict>
			<key>toDefine</key>
			<string>Hand- Foot Syndrome</string>
			<key>text</key>
			<string>Swelling of the hands and feet, sometimes accompanied by fever, that is a result of sickle cells getting stuck in the blood vessels and blocking blood flow to the hands and feet. </string>
			<key>image</key>
			<string></string>
			<key>links</key>
			<array/>
		</dict>
		<dict>
			<key>toDefine</key>
			<string>IV line</string>
			<key>text</key>
			<string>IV stands for “intravenous,” or “in your vein.”  An IV line is placed with the help of a very small needle, which guides the tiny tube into a vein.  The needle is taken out, and the tiny tube is connected to another tube that can deliver medicine and fluids, right into the patient’s blood.  This is the fastest way for doctors and nurses to get treatment into a patient’s body.  A lot of people really don’t like getting needles, and this is totally normal. Your doctor can use a cream called “EMLA” or “LMX,” which numbs the skin in 20-40 minutes, so that there will be less pain.  Distraction, like looking at pictures of a fun birthday party, reading a story, or singing a song, can also help keep kids calm when getting a needle.</string>
			<key>image</key>
			<string></string>
			<key>links</key>
			<array/>
		</dict>
		<dict>
			<key>toDefine</key>
			<string>Donating blood</string>
			<key>text</key>
			<string>People can donate blood for other people in need of it to use.</string>
			<key>image</key>
			<string></string>
			<key>links</key>
			<array>
				<string>http://www.redcross.org</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
