<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>conditionName</key>
		<string>Asma</string>
		<key>menuTitles</key>
		<array>
			<string>startPresentation</string>
			<string>continue</string>
			<string>jumpInfo</string>
			<string>jumpQuiz</string>
			<string>reviewFlags</string>
		</array>
		<key>menuLocalized</key>
		<array>
			<string>Start Prez*</string>
			<string>Continua*</string>
			<string>jumpInfo*</string>
			<string>jumpQuiz</string>
			<string>reviewFlags</string>
		</array>
	</dict>
	<key>slides</key>
	<array>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_01.jpg</string>
			<key>text</key>
			<string>!Hola! Soy Jon y yo estoy aquí hablar con tu sobre el asma.</string>
			<key>title</key>
			<string>Presentación Asma</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_02.jpg</string>
			<key>text</key>
			<string>A veces no puedo respirar. Esto sucede porque tengo una enfermedad llamada asma. Cuando las cosas a mi alrededor desencadenan el asma , tengo un ataque de asma . Cuando se produce un ataque, tos, sibilancias y dificultad para respirar . Un ataque provoca mis vías respiratorias se hinchen y se llenan de mucosidad , lo que dificulta que el aire pasar. Las personas con asma no tienen el mismo tipo de factores desencadenantes. Me pregunto lo que mis disparadores son ...</string>
			<key>title</key>
			<string>Presentación Asma</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_03.jpg</string>
			<key>text</key>
			<string>Me encanta jugar con mi perro todos los días , pero he empezado a notar que toso mucho por Sparky . El médico le dijo a mi madre ya mí que esto se debe a las mascotas con pelo largo o pelo pueden desencadenar un ataque de asma en algunas personas. Mi papá dice que vamos a construir una caseta de perro fuera de Sparky para que pueda respirar mejor y todavía lo puedo seguir .</string>
			<key>title</key>
			<string>Presentación Asma</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_04.jpg</string>
			<key>text</key>
			<string>Mis padres limpiar nuestra casa mucho, así que el pelo de Sparky no está en los muebles o la alfombra más. Pasar la aspiradora y limpiar las superficies polvorientas también ayudan a deshacerse de las partículas pequeñas que pueden desencadenar un ataque ! Los ácaros del polvo , polen y humo realmente hacen que sea difícil para mí respirar . Cambiamos mis sábanas cada semana, así que no estoy rodeado de estas cosas cuando duermo .</string>
			<key>title</key>
			<string>Presentación Asma</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_05.jpg</string>
			<key>text</key>
			<string>El moho es otro factor desencadenante . Es un tipo de hongo que puede crecer en lugares húmedos , como en el lavabo o la tina de baño. Si mis padres se encuentran el moho que crece , se limpia el área con jabón y un cepillo de inmediato. Luego deje que se sequen para que nadie más moho crecerá allí. El moho también puede crecer en la comida que se ha podrido. Mi mamá siempre se comprueba que el pan , frutas y otros alimentos en la cocina no se han vuelto a moho. Si se encuentra con alimentos con moho , ella se asegura de tirarlo a la basura .</string>
			<key>title</key>
			<string>Presentación Asma</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_06.jpg</string>
			<key>text</key>
			<string>Mis padres no dejan que nadie fuma cigarrillos dentro de la casa . Incluso las velas y el incienso puede hacer que sea difícil respirar . Cualquier persona que fuma sale a la calle para hacerlo. Una vez, nos alojamos en un hotel durante las vacaciones de verano y el hotel olía muy fuerte a tabaco que tenía que ir al hospital. Ahora mis padres y yo se asegura de que los lugares en los que alojarse en son limpias y el asma de usar.</string>
			<key>title</key>
			<string>Presentación Asma</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_07.jpg</string>
			<key>text</key>
			<string>Cuando quiero jugar afuera , mis padres me llevan a limpiar parques. Si hay una gran cantidad de contaminación del aire de los automóviles , mis padres no me llevan a esa área. Las estaciones también afectan el asma . Temporada de polen me hace tener más ataques de asma . Trato de no salir al aire libre tanto durante este tiempo. Durante el invierno , mis padres se aseguren que voy a estar bastante caliente. El uso de una bufanda alrededor de mi cuello y cerca de la boca y la nariz ayuda a respirar con más facilidad. Siempre llevo mi inhalador conmigo a donde quiera que vaya por si acaso tengo un ataque.</string>
			<key>title</key>
			<string>Presentación Asma</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_08.jpg</string>
			<key>text</key>
			<string>Me encanta hacer deporte ! Yo solía pensar que no podía correr y jugar con los otros niños debido a mi asma, pero ahora sé algunos trucos para arreglar esto! Cuando sé que voy a estar mucho ejercicio durante el día , me aseguro de hacer exactamente lo que mi doctor me dijo que lo hiciera - Yo tomo mis medicamentos con receta en la oficina de la enfermera de la escuela antes del receso . También me aseguro de que poco a poco en calor antes de empezar a jugar un juego.</string>
			<key>title</key>
			<string>Presentación Asma</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_09.jpg</string>
			<key>text</key>
			<string>Mi médico dice que la mejor manera de prevenir un ataque de asma es para asegurarse de que nunca sucede. Saber cuáles son mis disparadores me ayuda a saber lo que debe evitar. Tomando mi medicamento de manera regular también ayuda a prevenir el asma se salga de control. El cuerpo de cada persona es diferente , y el médico me ayuda a decidir la cantidad de medicina que debe tomar de acuerdo a la gravedad es mi asma . Mi médico ve a otros niños con asma también, y él puede decirles que hacer las cosas de manera diferente , igual que cada niño es diferente, el asma de todo el mundo puede ser diferente . Lo más importante para cualquier persona con asma es seguir el plan de asma que el médico le dio !</string>
			<key>title</key>
			<string>Presentación Asma</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_10.jpg</string>
			<key>text</key>
			<string>Un ataque de asma puede ocurrir repentinamente , o puede ser completamente bien el asma tiene diferentes síntomas en diferentes momentos. No existe cura para el asma, por lo que es importante que mis padres y yo hacer un seguimiento de cómo me siento . Se pretende que el asma es como un semáforo : verde significa ir! Amarillo significa reducir la velocidad y tener cuidado . El rojo significa parar!

Cuando estoy respirando bien , estoy en la Zona Verde, y puedo ir a las cosas que normalmente haces , simplemente tomar mi medicación preventiva todos los días como mi doctor me dijo que lo hiciera .

En la Zona Amarilla , tengo que tener más cuidado. He estado expuesto a uno de mis desencadenantes habituales y tengo síntomas de resfriado . Toso y podría respirar con dificultad . A veces , mi pecho se siente apretado. Cuando esto sucede , mis padres me dan medicamento de alivio rápido .

En la zona roja , mi medicamento no parece ayudarme y mi respiración es difícil y rápida. Mi nariz se abre por completo al intentar respirar , mis costillas mostrar , y no puedo hablar. Mis padres inmediatamente me dan mi medicación de rescate de acción rápida. </string>
			<key>title</key>
			<string>####### special</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_11.jpg</string>
			<key>text</key>
			<string>Por lo general, me ayuda a respirar con más facilidad. Pero a veces esto no funciona y tiene que llevarme a la sala de emergencias de un hospital . Siempre nos trae todos los medicamentos que mis padres me dieron ese día.</string>
			<key>title</key>
			<string>####### missing text not missing?</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_12.jpg</string>
			<key>text</key>
			<string>Espero que algún día, habrá una cura para el asma . Hasta que eso ocurra , mis padres me ayudan a cuidar de mí mismo para que el asma no se interpone en el camino de mi vida! Tengo demasiado creciendo y jugando y aprendiendo a hacer!</string>
			<key>title</key>
			<string>Presentación Asma</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>quiz</string>
			<key>question</key>
			<string>Who is your father?</string>
			<key>answers</key>
			<array>
				<string>Me</string>
				<string>You</string>
				<string>Habib Khan</string>
				<string>Lord Helix</string>
			</array>
			<key>solution</key>
			<integer>3</integer>
			<key>explanation</key>
			<string>All is true and right thanks to Lord Helix</string>
			<key>title</key>
			<string>First Quiz Question</string>
			<key>flagSet</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
