<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<dict>
		<key>conditionName</key>
		<string>L&apos;asthme</string>
		<key>menuTitles</key>
		<array>
			<string>startPresentation</string>
			<string>continue</string>
			<string>jumpInfo</string>
			<string>jumpQuiz</string>
			<string>reviewFlags</string>
		</array>
		<key>menuLocalized</key>
		<array>
			<string>Présentation</string>
			<string>continua***</string>
			<string>jumpInfo***</string>
			<string>jumpQuiz***</string>
			<string>reviewFlags***</string>
		</array>
	</dict>
	<key>slides</key>
	<array>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_01.jpg</string>
			<key>text</key>
			<string>Salut! Je suis Jon et je suis ici pour vous parier de l&apos;asthme</string>
			<key>title</key>
			<string>Présentation l&apos;asthme</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_02.jpg</string>
			<key>text</key>
			<string>Sometimes I can&apos;t breathe. This happens because I have an illness called asthma.  When things around me trigger my asthma, I have an asthma attack. When an attack happens, I cough, wheeze, and have trouble breathing. An attack causes my airways to swell up and fill with mucus, which makes it hard for air to get through. People with asthma do not all have the same kind of triggers.  I wonder what my triggers are...</string>
			<key>title</key>
			<string>Présentation l&apos;asthme</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_03.jpg</string>
			<key>text</key>
			<string>I love to play with my dog everyday, but I have started to notice that I cough a lot around Sparky. The doctor told my mom and me that this is because pets with long hair or fur can trigger an asthma attack for some people. My dad says that we will build a doghouse outside for Sparky so I can breathe better and we can still keep him.</string>
			<key>title</key>
			<string>Présentation l&apos;asthme</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_04.jpg</string>
			<key>text</key>
			<string>My parents clean our house a lot so that Sparky&apos;s hair is not on the furniture or carpet anymore. Vacuuming and wiping off dusty surfaces also help to get rid of the small particles that can trigger an attack! Dust mites, pollen, and smoke really make it hard for me to breathe. We change my bed sheets every week so that I am not surrounded by these things when I sleep.</string>
			<key>title</key>
			<string>Présentation l&apos;asthme</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_05.jpg</string>
			<key>text</key>
			<string>Mold is another trigger. It is a type of fungus that may grow in wet places, like around the bathroom sink or tub. If my parents find mold growing, they clean the area with soap and a scrubbing brush right away. Then they let it dry completely so no more mold will grow there. Mold can also grow on food that has become rotten. My mom always checks that the bread, fruit, and other foods in the kitchen have not become moldy. If she finds moldy food, she makes sure to throw it away.  </string>
			<key>title</key>
			<string>Présentation l&apos;asthme</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_06.jpg</string>
			<key>text</key>
			<string>My parents don&apos;t let anyone smoke cigarettes inside the house. Even candles and incense can make it hard to breathe. Anyone who smokes goes outside to do it. One time, we stayed at a hotel during summer vacation and our hotel smelled so strongly of cigarettes that I had to go to the hospital. Now my parents and I makes sure that the places we stay at are clean and asthma-friendly.</string>
			<key>title</key>
			<string>Présentation l&apos;asthme</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_07.jpg</string>
			<key>text</key>
			<string>When I want to play outside, my parents take me to clean parks. If there is a lot of air pollution from cars, my parents won&apos;t take me to that area. The seasons also affect my asthma. Pollen season causes me to have more asthma attacks. I try not to go outdoors so much during this time. During the winter, my parents make sure I am kept very warm. Wearing a scarf around my neck and close to my mouth &amp; nose help me breathe more easily. I always bring my inhaler with me where ever I go just in case I have an attack.</string>
			<key>title</key>
			<string>Présentation l&apos;asthme</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_08.jpg</string>
			<key>text</key>
			<string>I love to play sports! I used to think that I couldn&apos;t run and play with all the other kids because of my asthma but now I know some tricks to fix this! When I know I am going to be exercising a lot during the day, I make sure to do exactly what my doctor told me to do- I take my prescription medicine at the nurse&apos;s office at school before recess. I also make sure I slowly warm up before I start playing a game.</string>
			<key>title</key>
			<string>Présentation l&apos;asthme</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_09.jpg</string>
			<key>text</key>
			<string>My doctor says the best way to prevent an asthma attack is to make sure it never happens. Knowing what my triggers are helps me know what to stay away from. Taking my medicine regularly also helps to prevent my asthma from getting out of control. Everyone&apos;s body is different and the doctor helps me decide how much medicine to take according to how bad my asthma is.  My doctor sees other kids with asthma too, and he may tell them to do things differently- just like every kid is different, everyone’s asthma can be different.  The most important thing for anyone with asthma is to follow the asthma plan that the doctor gave!</string>
			<key>title</key>
			<string>Présentation l&apos;asthme</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_10.jpg</string>
			<key>text</key>
			<string>An asthma attack can happen suddenly, or I can be completely fine- asthma has different symptoms at different times.  There is no cure for asthma, so it’s important that my parents and I keep track of how I am feeling.  We pretend that asthma is like a traffic light: green means go!  Yellow means slow down and be careful.  Red means stop!

When I am breathing well, I’m in the Green Zone, and I can go do things normally, just taking my preventative medicine every day like my doctor told me to.

In the Yellow Zone, I have to be more careful. I have been exposed to one of my usual triggers and I have signs of a cold. I cough and I might wheeze.  Sometimes, my chest feels tight. When this happens, my parents give me quick-relief medicine.

In the Red Zone, my medicine does not seem to help me and my breathing is hard and fast. My nose opens wide when I try to breathe, my ribs show, and I can&apos;t talk. My parents immediately give me my fast-acting rescue medication. This usually helps me to breathe more easily. But sometimes this doesn&apos;t work and she has to take me to the hospital emergency room. We always bring all the medications my parents gave me that day.</string>
			<key>title</key>
			<string>####### special</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_11.jpg</string>
			<key>text</key>
			<string>When I have an attack, my mom...</string>
			<key>title</key>
			<string>####### missing text</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>info</string>
			<key>image</key>
			<string>asthma_12.jpg</string>
			<key>text</key>
			<string>I hope that someday, there will be a cure for asthma.  Until that happens, my parents help me take care of myself so that asthma doesn’t get in the way of my life!  I have too much growing and playing and learning to do!</string>
			<key>title</key>
			<string>Présentation l&apos;asthme</string>
			<key>flagSet</key>
			<false/>
		</dict>
		<dict>
			<key>slide</key>
			<string>quiz</string>
			<key>question</key>
			<string>Who is your father?</string>
			<key>answers</key>
			<array>
				<string>Me</string>
				<string>You</string>
				<string>Habib Khan</string>
				<string>Lord Helix</string>
			</array>
			<key>solution</key>
			<integer>3</integer>
			<key>explanation</key>
			<string>All is true and right thanks to Lord Helix</string>
			<key>title</key>
			<string>First Quiz Question</string>
			<key>flagSet</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
