<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.HarlemHospital.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>LOCALIZATION</key>
	<dict>
		<key>english</key>
		<dict>
			<key>aboutCredits</key>
			<string>Team Leader: Katherine Nosal
Correspondence: Emily Murray, Ivana Man, Habib Khan
Programming: Patrick W. Crawford (lead iOS), Veronica Tverbakk, Justin Bernardo
Design: Katherine Nosal, Natalie Nosal, Celina Bertoncini, Veronica Tverbakk, Patrick W. Crawford, Justin Bernardo, Elias Fong, Ada Wong, Ally Damiano, Mikhail Andreev, Chris Kuech</string>
			<key>aboutDevGAI</key>
			<string>Developed by Global App Initiative</string>
			<key>aboutPageTitle</key>
			<string>About and Usage</string>
			<key>aboutTextMain</key>
			<string>This app was originally developed for Harlem Hospital, New York, as a means to engage waiting room patients before being seen by a doctor for parents and children of the conditions presented in this mobile app.</string>
			<key>aboutTextUsage</key>
			<string>To navigate these slides, either tap the arrows at the bottom of the screen or swipe left/right. You can change the language with the world button and then continue the presentation at any time.

At the end of most presentations there will be a quiz section, where you can only advance once you get the correct answer. If you answer incorrectly, you can either try again or go back to the content of the presentation. You can also navigate backwards and once you answer a question correctly, you don’t have to answer it again.

You can flag slides by tapping the icon at the bottom if you have a question on that slide. When the doctor comes by, you can then go back to the presentation menu and check review slides to go through all slides that are flagged.</string>
			<key>alertNoQuiz</key>
			<string>No Quiz Slides Found</string>
			<key>alertPleaseAnother</key>
			<string>Please select another option</string>
			<key>alertStartPresBody</key>
			<string>The contents of this presentation is for recommendation only, always listen to what your doctor tells you.</string>
			<key>alertStartPresTitle</key>
			<string>Attention!</string>
			<key>answerToAdvance</key>
			<string>You must answer to continue</string>
			<key>clearAllFlags</key>
			<string>Clear all flagged slides</string>
			<key>clearFlag</key>
			<string>Clear Flag</string>
			<key>conditionSelection</key>
			<string>Select Condition Presentation</string>
			<key>goMenu</key>
			<string>Return to menu</string>
			<key>introCenter</key>
			<string>Change Language</string>
			<key>introLeft</key>
			<string>About &amp; More</string>
			<key>introRight</key>
			<string>Flag for review</string>
			<key>introUsage</key>
			<string>You can go to the next slide by swiping left/right or tapping the arrows. On quiz slides, you must answer the question correctly to continue, but you can always go backwards in the presentation. Tap the flag icon if you want to bring up or discuss the content of that slide with your doctor</string>
			<key>jumpFirstSlide</key>
			<string>Jump to Beginning</string>
			<key>jumpQuizSlide</key>
			<string>Jump to first quiz slide</string>
			<key>languageSelection</key>
			<string>Language Selection</string>
			<key>outrLabel</key>
			<string>Congratulations, you reached the end of the presentation!</string>
			<key>presentationMenu</key>
			<string>Presentation Menu</string>
			<key>quizCorrectAnswer</key>
			<string>Correct! You may advance to the next slide now</string>
			<key>quizIncorrect</key>
			<string>Sorry, but that answer is incorrect!</string>
			<key>quizReturnToInfo</key>
			<string>Go back to slides</string>
			<key>quizTryAgain</key>
			<string>Try Again</string>
			<key>quizWrongAnswer</key>
			<string>Sorry but that is incorrect, please try again</string>
			<key>reviewSlides</key>
			<string>Review flagged slides</string>
		</dict>
		<key>french</key>
		<dict>
			<key>aboutCredits</key>
			<string>Chef d&apos;équipe: Katherine Nosal 
Correspondence: Emily Murray, Ivana Man, Habib Khan
Programmation: Patrick W. Crawford (plomb iOS), Veronica Tverbakk, Justin Bernardo 
Conception: Katherine Nosal, Natalie Nosal, Celina Bertoncini, Veronica Tverbakk, Patrick W. Crawford, Justin Bernardo, Elias Fong, Ada Wong, Ally Damiano, Mikhail Andreev, Chris Kuech</string>
			<key>aboutDevGAI</key>
			<string>Développé par Global App Initiative</string>
			<key>aboutPageTitle</key>
			<string>À propos et d&apos;utilisation</string>
			<key>aboutTextMain</key>
			<string>Cette application a été initialement développé pour l&apos;hôpital de Harlem, à New York, comme un moyen d&apos;engager attente patients en salle avant d&apos;être vu par un médecin pour les parents et les enfants des conditions présentées dans cette application mobile.</string>
			<key>aboutTextUsage</key>
			<string>Pour naviguer dans ces diapositives, soit appuyer sur les flèches en bas de l&apos;écran ou balayez vers la gauche / droite. Vous pouvez changer la langue avec le bouton de monde et puis continuer la présentation à tout moment. 

A la fin de la plupart des présentations, il y aura une section de test, où vous ne pouvez avancer une fois que vous obtenez la bonne réponse. Si vous répondez correctement, vous pouvez essayer de nouveau ou retourner sur le contenu de la présentation. Vous pouvez également naviguer vers l&apos;arrière et une fois que vous répondez correctement à une question, vous n&apos;avez pas à répondre à nouveau. 

Vous pouvez diapositives de drapeau en appuyant sur ​​l&apos;icône en bas si vous avez une question sur cette diapositive. Lorsque le médecin vient par, vous pouvez revenir au menu de présentation et de vérifier les diapositives de consultation de passer par toutes les diapositives qui sont marqués.</string>
			<key>alertNoQuiz</key>
			<string>Pas Quiz Diapositives Trouvé</string>
			<key>alertPleaseAnother</key>
			<string>S&apos;il vous plaît sélectionner une autre option</string>
			<key>alertStartPresBody</key>
			<string>Le contenu de cette présentation est la recommandation que, toujours à l&apos;écoute de ce que votre médecin vous dit.</string>
			<key>alertStartPresTitle</key>
			<string>Attention!</string>
			<key>answerToAdvance</key>
			<string>Vous devez répondre à continuer</string>
			<key>clearAllFlags</key>
			<string>Effacer tout diapositives battant pavillon</string>
			<key>clearFlag</key>
			<string>Effacer l&apos;indicateur</string>
			<key>conditionSelection</key>
			<string>Sélectionnez Etat Présentation</string>
			<key>goMenu</key>
			<string>Retour au menu</string>
			<key>introCenter</key>
			<string>Changer de langue</string>
			<key>introLeft</key>
			<string>A propos &amp; plus</string>
			<key>introRight</key>
			<string>Signaler pour révision</string>
			<key>introUsage</key>
			<string>Vous pouvez aller à la diapositive suivante en faisant glisser gauche / droite ou en appuyant sur les flèches. Sur diapositives de quiz, vous devez répondre correctement à la question de continuer, mais vous pouvez toujours revenir en arrière dans la présentation. Appuyez sur l&apos;icône de drapeau si vous voulez faire apparaître ou discuter le contenu de cette diapositive avec votre médecin</string>
			<key>jumpFirstSlide</key>
			<string>Aller au début</string>
			<key>jumpQuizSlide</key>
			<string>Aller au questionnaire</string>
			<key>languageSelection</key>
			<string>Sélection de la langue</string>
			<key>outrLabel</key>
			<string>Félicitations, vous atteint la fin de la présentation!</string>
			<key>presentationMenu</key>
			<string>Présentation Menu</string>
			<key>quizCorrectAnswer</key>
			<string>Correct! Vous pouvez aller à la diapositive suivante</string>
			<key>quizIncorrect</key>
			<string>Désolé, mais c&apos;est faux!</string>
			<key>quizReturnToInfo</key>
			<string>Retour à diapositives</string>
			<key>quizTryAgain</key>
			<string>Essayez à nouveau</string>
			<key>quizWrongAnswer</key>
			<string>Désolé, mais c&apos;est faux, s&apos;il vous plaît essayer à nouveau</string>
			<key>reviewSlides</key>
			<string>Revue marqué diapositives</string>
		</dict>
		<key>spanish</key>
		<dict>
			<key>aboutCredits</key>
			<string>Jefe de Equipo: Katherine Nosal 
Correspondencia: Emily Murray, Ivana Man, Habib Khan
Programación: Patrick W. Crawford (plomo iOS), Verónica Tverbakk, Justin Bernardo 
Diseño: Katherine Nosal, Natalie Nosal, Celina Bertoncini, Veronica Tverbakk, Patrick W. Crawford, Justin Bernardo, Elias Fong, Ada Wong, Ally Damiano, Mikhail Andreev, Chris Kuech</string>
			<key>aboutDevGAI</key>
			<string>Desarrollado por Global App Initiative</string>
			<key>aboutPageTitle</key>
			<string>Acerca y Uso</string>
			<key>aboutTextMain</key>
			<string>Esta aplicación fue desarrollada originalmente para el Hospital de Harlem, Nueva York, como un medio para involucrar a pacientes de la sala de espera antes de ser atendido por un médico para los padres y niños de las condiciones que se presentan en esta aplicación móvil.</string>
			<key>aboutTextUsage</key>
			<string>Para navegar por estas diapositivas, o bien toque en las flechas en la parte inferior de la pantalla o pase a la izquierda / derecha. Usted puede cambiar el idioma con el botón mundo y luego continuar con la presentación, en cualquier momento. 

Al final de la mayoría de las presentaciones habrá una sección de preguntas y respuestas, donde sólo se puede avanzar una vez que obtenga la respuesta correcta. Si su respuesta es incorrecta, puede intentarlo de nuevo o volver a los contenidos de la presentación. También puede navegar hacia atrás y una vez que se contesta a una pregunta correctamente, usted no tendrá que responder de nuevo. 

Puede diapositivas bandera punteando en el icono situado en la parte inferior si usted tiene una pregunta sobre esa diapositiva. Cuando el médico llega, a continuación, puede volver al menú de presentación y comprobar las diapositivas de revisión que pasar por todas las diapositivas que se marcan.</string>
			<key>alertNoQuiz</key>
			<string>No Cuestionario Diapositivas Encontrado</string>
			<key>alertPleaseAnother</key>
			<string>Por favor seleccione otra opción</string>
			<key>alertStartPresBody</key>
			<string>El contenido de esta presentación es para la recomendación solamente, siempre escucha lo que su médico le indique.</string>
			<key>alertStartPresTitle</key>
			<string>¡Atención!</string>
			<key>answerToAdvance</key>
			<string>Debe responder a continuar</string>
			<key>clearAllFlags</key>
			<string>Borrar todos toboganes de pabellón</string>
			<key>clearFlag</key>
			<string>Borrar indicador</string>
			<key>conditionSelection</key>
			<string>Seleccione Condición Presentación</string>
			<key>goMenu</key>
			<string>Regresar al Menú</string>
			<key>introCenter</key>
			<string>Cambiar Idioma</string>
			<key>introLeft</key>
			<string>Sobre y más</string>
			<key>introRight</key>
			<string>Marcar para revisión</string>
			<key>introUsage</key>
			<string>Usted puede ir a la diapositiva siguiente al deslizar izquierda / derecha o tocando las flechas. En diapositivas de prueba, debe responder a la pregunta correctamente para continuar, pero siempre se puede ir hacia atrás en la presentación. Toque en el icono de la bandera si desea abrir o discutir el contenido de la diapositiva con su médico</string>
			<key>jumpFirstSlide</key>
			<string>Ir al comienzo</string>
			<key>jumpQuizSlide</key>
			<string>Ir al cuestionario</string>
			<key>languageSelection</key>
			<string>Presentación Menu</string>
			<key>outrLabel</key>
			<string>Felicidades, ya llegaron al final de la presentación!</string>
			<key>presentationMenu</key>
			<string>Presentation Menu</string>
			<key>quizCorrectAnswer</key>
			<string>¡Correcto! Puede avanzar a la siguiente diapositiva ahora</string>
			<key>quizIncorrect</key>
			<string>Lo siento, pero esa respuesta es incorrecta!</string>
			<key>quizReturnToInfo</key>
			<string>Volver a las diapositivas</string>
			<key>quizTryAgain</key>
			<string>Intentar de nuevo</string>
			<key>quizWrongAnswer</key>
			<string>Incorrecto, inténtelo de nuevo</string>
			<key>reviewSlides</key>
			<string>Revisión marcado diapositivas</string>
		</dict>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>conditionsArray</key>
	<array>
		<string>Asthma</string>
		<string>Dental</string>
		<string>Nutrition</string>
		<string>Sickle</string>
	</array>
</dict>
</plist>
